<div class="container">
  <h1>All restaurants</h1>
  <ol>
    <% @restaurant.each do |restaurant| %>
      <li><%= restaurant.id %> <%= link_to restaurant.name, restaurant_path(restaurant) %></li>
    <% end %>
  </ol>
</div>
